.f_row, .s_row, .t_row, .fh_row, .fe_row{
	background-color: rgb(12, 155, 160);
	margin-bottom: 10px;
}
.box{
	margin: 15px 0 10px;
	min-height: 80px;
	background-color: lightskyblue;
	font-size: 25px;
}